---
title: 关于我们
description: 百作坊工作室是以技术研发创新为主导，以互联网平台运营、WEB应用开发、软件开发、技术培训等为核心，拥有完全自主研发能力的技术团队。产品包括ERP、CRM、电商等,具备丰富的技术开发经验。团队秉承着“专业、诚信、创新、服务”的理念，以稳健的作风、先进的技术。致力于互联网及信息服务行业创造价值，真正实现企业互联网信息智能化，提高企业在网络科技时代的市场竞争力。Make the world happy（让世界快乐起来）。不得不承认我们很庸俗，不是很高尚。在工作了一些年之后，开始明白到底得到了什么、想要什么。向往生活爱自由，是我们不变的宣言。坚持维护一个小而高效的团队，互相平等、互相尊重。为客户创造价值，同时也是为我们自己创造价值。“一起向未来！”
---


<p class="editor-link" style="text-align: center;"><a href="cloudcannon:collections/_staff_members/" class="btn"><strong>&#9998;</strong> Manage Staff members</a></p>
<ul class="staff">
	{% for person in site.staff_members %}
		<li>
			<div class="square-image"><img src="{% include relative-src.html src=person.image_path %}" alt="{{ person.name }}"/></div>
			<div class="name"><a target="_blank" href="https://twitter.com/{{ person.twitter }}">{{ person.name }}</a></div>
			<div class="position">{{ person.position }}</div>
		</li>
	{% endfor %}
</ul>
